<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Requested Services</h6>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Service requested</th>
                        <th scope="col">Payment Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% clients.forEach(client => { %>
                        <tr>
                            <td><%= client.first_name %></td>
                            <td><%= client.last_name %></td>
                            <td><%= client.email %></td>
                            <td><%= client.type_of_service %></td>
                            <td>
                                <% if (client.payment_status === 1) { %>
                                    Paid
                                <% } else { %>
                                    Not Paid
                                <% } %>
                            </td>
                            <td><a class="btn btn-sm btn-primary" href="/admin/clients/<%= client.id %>">Detail</a></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</div>
